*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}
body {
  font-style: normal;
}
.currency {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
/* .currency__list {
} */
.currency__item {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #d3d3d3;
}
.currency__head-item {
  color: white;
  background-color: #007bff;
  border: 1px solid #007bff;
}
.currency__info {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
}
